allure-pytest
allure-python-commons
colorama
jsonmodels
lxml
mysql-connector-python
Pillow
prettytable
PyAutoGUI
pylint
pytest
pytest-base-url
pytest-forked
pytest-html
pytest-metadata
pytest-selenium
pytest-variables
pytest-xdist
python-dateutil
vk_api
requests
selenium
webdriver-manager
pymongo